
::after {
    box-sizing: border-box
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding:  3rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s
}

.button1 {
	border-color: #9CD2FF ;
	background-color: #008CBA;
	border-radius: 8px;
	height: 30px ; 
} /* blue */ 

button {
    border-color: #0a5b9c ;
    color: rgb(26, 93, 180);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 0px;
    cursor: pointer;
    font-family: parisienne;
    border-radius: 8px;
  }

  #Con {
    border-color: #b31e1e ;
    color: rgb(255, 8, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 0px;
    cursor: pointer;
    font-family: parisienne;
    border-radius: 8px;
  }
  .border-class {
    border: thin #000000 solid;
    margin: 20px;
    padding: 20px;
}

.container .shopping-cart{
  padding:20px 0;
}

.container .shopping-cart table{
  width: 100%;
  text-align: center;
  border:var(--border);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  background-color: var(--white);
}

.container .shopping-cart table thead{
  background-color: var(--black);
}

.container .shopping-cart table thead th{
  padding:10px;
  color:var(--black);
  text-transform: capitalize;
  font-size: 15px;
}

.container .shopping-cart table .table-bottom{
  background-color: var(--light-bg);
}

.container .shopping-cart table tr td{
  padding:10px;
  font-size: 14px;
  color:var(--black);
}

.container .shopping-cart table tr td:nth-child(1){
  padding:0;
}

.container .shopping-cart table tr td input[type="number"]{
  width: 80px;
  border:var(--border);
  padding:12px 14px;
  font-size: 20px;
  color:var(--black);
}

.container .shopping-cart .cart-btn{
  margin-top: 10px;
  text-align: center;
}

.container .shopping-cart .disabled{
  pointer-events: none;
  background-color: var(--red);
  opacity: .5;
  user-select: none;
}
